//* Diese Regel nicht verändern! */
div {
  background-color: black;
  position: relative; }

$grid-columns: 7;
@for $i from 1 through $grid-columns {
   .el-#{$i} {
      margin-top: 8px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
      height: 20px;
      width: 100px + ($i*150);
      background-color: rgb($i*2, $i*40, $i*80); 
  }
}